.entrada {
  color: blue;
  font-weight: bold;
}

.saida {
  color: red;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 8px 0;
}

h1 {
 text-align: center;
}

div {
align-items: center;     
height: 70px;   
}
